

/* navbar */


.navbar-brand img{
    width: 230px;
    height: 70px;
    
}
#navbarNavDropdown{
   
    
    justify-content: right;
  
    padding-right: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    
}
.navbar{
    background-color: white;
   
}

.nav-link:hover{
    text-decoration: underline;
    color: rgb(126, 128, 0);
}



/* home section */
.frontimage{
   
   width: 635px;
   min-height: auto;
   min-width: auto;
}
.middleportion{
    background-color: #deccff;
   
    min-height: auto;
    min-width: auto;
    
}
.middleportion h1{
    font-size: 40px;
    color: #6d1d8e;
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: 700;
    padding-left: 150px;
    padding-top: 70px;

}
.middleportion h3{
    font-size: 25px;
    font-weight: 700;
    color: #6d1d8e;
    padding-left: 150px;
    padding-top: 20px;
}
.middleportion p{
    font-size: 1rem;
    text-align: justify;
    padding-top: 20px;
    font-weight: bold;
    line-height: 1;
    padding-left: 150px;
}
.btn-home{
    border: none;
    background-color: #6d1d8e;
    color: white;
    height: 45px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
    margin-left: 150px;
    margin-top: 20px;
}

/* course section */
.search-head{
    font-size: 45px;
    font-weight: 700;
    color: #6d1d8e;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Kaisei HarunoUmi', serif;
    line-height: 58.5px;
    margin-top: 60px;
    margin-bottom: 30px;

}
.input-group{
    border: none;
    border-bottom: 3px solid #6d1d8e;
    width: 20px;
    margin-top: 25px;
}
.card{
    margin-top: 1rem;
    height: 600px;
    min-height: 650px;
    display: flex;
    align-items: center;
    border: none;
    transform: 0.5s;

}
.card-img img{
    width: 90px;
    height: 75px;
   

}
.card-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(194, 194, 194);
   
    
    
}
.card-title{
   font-size: 20px;
   font-weight: 700;
   color: #6d1d8e;
}
.card-course-text{
    font-size: 14px;
    line-height: 18px;
    
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.card-description{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 8px;
}
.card-description .span-header{
    color: #6d1d8e;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    
}
.btn-card{
    
    border: 2px solid #6d1d8e;
    color: #6d1d8e;
    text-decoration: none;
    height: 45px;
    width: 150px;
    border-radius: 2rem;
    align-items: center;
    font-weight: bold;
    transform: scale(0.5s);
}
.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top{
    margin-top: 50px;
}
.card:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.436);
    transition: 0.5s;
    background-color: white;
}
.card:hover .btn-card{
    background-color: #6d1d8e;
    color: white;
    transition: 0.5s;
}
.card:hover .card-img{
    background-color: #6d1d8e;
    color: white;
}
.card:hover .card-img-top{
    filter: brightness(100);
}


/* about */
.about img{
    width: 100%;
    
}
.about-heading{
    font-size: 55px;
    font-weight: 700;
    color: #6d1d8e;
    text-align: center;
    margin-top: 52px;
}
.about-para{
    font-size: 15px;
    line-height: 22.5px;
    text-align: justify;
    padding: 30px 0 30px 0;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
   
   
    font-size: 1rem;
    font-weight: 700;
    line-height: 32px;
    
   
}
.about-content{
      margin-left: 150px;
      margin-right: 150px;
      padding-left: 0;
}

.about ul li{
   vertical-align: middle;
   list-style-position: outside;
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAkCAMAAAA5HAOUAAAAZlBMVEUAAABsHI9tHY5uHo1wH45tHI5tHY5tHY9wII9sHI9tHY1sHY9vHI9tHY5tHY5tHY1tHI5tHY5sHo5tHY1tHY5uHI5sHY5uHY5tGo1rG4dtHY5tHY5tHI9tHI5uHY9rHoxtG41tHY6LmJQYAAAAIXRSTlMAQMCAEODwnyB/YFAv0Ilw9NrPurCTW7QdCfzn0cWqRTjIEMMwAAABIUlEQVQ4y9WT6W7DIBCEuYwBH/ERu0nvff+X7AC1UB0cqv5q9o/l1aedWRjYPyjTlBllNYn2PnPtKyJNVKs7EAczcrWAPB2K1eRLwpogqngWkhpEC7JycaowN0yD9tm3V8ACc0742p09SHQ8rEih6kswoH/KEgW7TgPwY+nZMtZ2JHeUX3GieFZyADeuTGaoNhpP6851huLUqbQNjS8A+wwlUgM/1x5rFynGFiiWKfkX6uLP+xezUE80pUaTp3oPTjydV95X+x4u0LB401LlKAeVV2CDbbbUGLGjxHdcBvJVbfHQu5fiqqCmFr9GatzkGVnViN3nTPT2wePwTJkztCCxjkHVHb6hzgdMWbjr1QGzhRWGZlt42zK8gGIZxx6mvgC4sBzNJvTJYQAAAABJRU5ErkJggg==) no-repeat left center;
   list-style-type: none;
   padding-left: 2.4rem;
}
.join{

    display: flex;
    flex-direction: column;
    background-image: url("./image/join-img.png");
    background-size: cover;
    width: 100vw;
 
    height: 560px;
    align-items: center;
    background-repeat: no-repeat; 
    object-fit: cover;
   
    background-position: center;
    
}
.join-content{
    height: 100%;
    width: 1000px;
    text-align: center;
    
    
}
.join img{
    width: 100%;
    
}
.join-header{
    color: white;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 40px;
    padding-top: 120px;
}
.join-para{
    color: #bb9865;
    padding-top: 15px;
    font-size: 15px;
}
.join-button{
    width: 165px;
    height: 50px;
    background-color: white;
    color: #6d1d8e;
    border: none;
    border-radius: 2rem;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 18px;
}
/* footer */


footer{
    width: 100vw;
    height: 572px;

}
.footer-logo{
    width: 217px;
    height: 55px;
}
.social{
    height: 43px;
    width: 36px;
    margin-top: 1rem;
}
.certi{
    width: 137px;
    height: 71px;
    margin-top: 1rem;
}
.iso{
    width: 69px;
    height: 78px;
}
.footer-heading{
    font-size: 18px;
    font-weight: 700;
    color: #6d1d8e;
    text-decoration: none;
}
.course-name{
    text-decoration: none;
    color: #7e7e7e;
    font-size: 14px;
    box-sizing: border-box;
   
    display: block;
  transition: 0.5s;

}
.course-name:hover{
    border-bottom: 1px solid #6d1d8e;
    color: #6d1d8e;
   transition-delay: 0.5s;
}
.last-portion{
    height: 59px;
    width: 100vw;
    margin-top: 23px;
}
.last-content{
    text-align: center;
    padding-top: 1rem;
}
.side-icons{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    background-color: #6d1d8e;
}
.side-icons a i{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
.side-icons-left{
    width: 60px;
    height: 60px;
    position: fixed;
    left: 10px;
    bottom: 20px;
    background-color: #ffffff;
}
.side-icons-left a i{
    text-decoration: none;
    font-size: 3rem;
    color: green;
}